<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiang.combo.platform.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jiang.combo.platform.entity.Dict">
        <id column="id" property="id" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="deleted_flag" property="deletedFlag" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="status" property="status" />
    </resultMap>

    <resultMap id="ItemsResultMap" extends="BaseResultMap" type="org.jiang.combo.platform.entity.Dict">
       <collection property="items" ofType="org.jiang.combo.platform.entity.DictItem">
           <id column="item_id" property="id" />
           <result column="item_created_time" property="createdTime" />
           <result column="item_updated_time" property="updatedTime" />
           <result column="item_created_by" property="createdBy" />
           <result column="item_updated_by" property="updatedBy" />
           <result column="item_label" property="label" />
           <result column="item_value" property="value" />
           <result column="item_description" property="description" />
           <result column="item_sort" property="sort" />
           <result column="item_status" property="status" />
       </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, created_time, updated_time, created_by, updated_by, deleted_flag, name, code, description, status
    </sql>

    <sql id="Items_Column_List">
        dict.id,
        dict.created_time,
        dict.updated_time,
        dict.created_by,
        dict.updated_by,
        dict.name,
        dict.code,
        dict.description,
        dict.status,
        dict_item.id as item_id,
        dict_item.created_time as item_created_time,
        dict_item.updated_time as item_updated_time,
        dict_item.created_by as item_created_by,
        dict_item.updated_by as item_updated_by,
        dict_item.label as item_label,
        dict_item.value as item_value,
        dict_item.description as item_description,
        dict_item.sort as item_sort,
        dict_item.status as item_status
    </sql>

    <select id="getItems" resultMap="ItemsResultMap" >
        select
               <include refid="Items_Column_List"></include>
        from s_dict dict left join s_dict_item dict_item on dict.id = dict_item.dict_id
        where dict.id = #{id}
        order by dict_item.sort
    </select>

    <select id="getListItems" resultMap="ItemsResultMap">
        select
            <include refid="Items_Column_List"></include>
        from s_dict dict left join s_dict_item dict_item on dict.id = dict_item.dict_id
        order by dict_item.sort
    </select>

</mapper>
