<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiang.combo.admin.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="org.jiang.combo.admin.model.Department">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="created_by" jdbcType="BIGINT"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="updated_by" jdbcType="BIGINT"/>
            <result property="scopeDepartment" column="scope_department" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="CHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="isEnabled" column="is_enabled" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,created_time,created_by,
        updated_time,updated_by,scope_department,
        is_deleted,parent_id,title,
        description,remark,sort,
        is_enabled
    </sql>
</mapper>
