<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiang.combo.admin.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jiang.combo.admin.model.Role">
        <id column="id" property="id" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="deleted_flag" property="deletedFlag" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, created_time, updated_time, created_by, updated_by, deleted_flag, name, code, description, sort, status
    </sql>

    <select id="getRolesByUserId" resultMap="BaseResultMap">
        select
            user_role.id as user_role_id, role.id as id, created_time, updated_time, created_by, updated_by, deleted_flag, name, code, description, sort, status
        from r_user_role user_role
            left join s_role role on user_role.role_id = role.id
        where user_role.user_id = #{id}
    </select>

    <select id="listByUserId" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            r_user_role rur
        left join
            s_role sr on rur.role_id = sr.id
        where
            rur.user_id = #{id}

    </select>
    <update id="setRolesForUser"></update>
</mapper>
